* {
  background: whitesmoke;
  padding: 20px;
  font: 35px comfortaa;
  color: #e11584;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: #e11584;
}

.hide{
  display:none;
}

.game-hud {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#game-intro, #game-body, #score-body {
  width: 60%;  
  margin: 0 auto;
  border: 6px double #9e4244;
  border-radius: 5px;
  text-align: center;
  
}

#game-intro h1 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

#game-intro p {
  font-size: 20px;
  text-align: justify;
  width: 60%;
  margin: 0 auto;
}

/* TODO: fix centering issue here */
.btn {
  margin: 0 auto;
  margin-top: 10px;
  font: 20px comfortaa;
  text-align: justify;
  background: #fc4c4e;
  border-radius: 10px;
  border: none;
  color: white;
  width:max-content
}

#game-body li {
  list-style: none;
  font: 20px comfortaa;
  text-align: justify;
  background: #fe7d6a;
  border-radius: 10px;
  color: white;
  width: max-content;
  margin: 5px 0px;
  list-style: none;
}

#score-save {
  color: #fda4ba;
  width:max-content;
}

.score-flex{
  display: flex;
  
  align-items: center;
}